# Dependencies
**/node_modules/

# Env files (sensitive)
**/.env
**/.env.*
!**/.env.example

# Kubernetes secrets
backend/infra/k8s/secrets-template.yaml

# Logs
**/*.log

# Build artifacts
**/dist/
**/build/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
